@import "settings/_settings";
@import "settings/_about";
@import "settings/_contacts";
@import "settings/_index";
@import "../img/sprites.css";
@import "../fonts/ubuntu.css";

html{
	height: 100%;
}
body{
  height: 100%;
  background: url(../img/bg.jpg)/*$bgColor*/;
  background-repeat:  no-repeat;
  background-size: 100% 100%;
  font-size: 16px;
  color: $colorFonts;
  font-family: 'UbuntuRegular';
}
.wrapper{
  width: 960px;
  margin: 0 auto;
}
.page-header{
  margin: 20px 0 20px;
}
.navigation{
  float: right;
}
.navigation__list{
  list-style: none;
  padding: 0;
}
.navigation__item{
  float: left;
  margin-left: 10px;
}
.navigation__item-link{
  display: block;
  color: $colorFonts;
  text-decoration: none;
  padding: 10px 15px;
}
.active{
	background: $navColor;
	color: $bgColor;
 	@include resize(1.1);
	@include borderRadius(5px);
}
.navigation__item-link:hover{
  @include resize(1.1);
  @include transition(0.2s);
//  @include textShadow(1px 1px 2px #1996f6);
}
.page-container{
  background: #27ae60;
  @include borderRadius(5px);
}
.content{
  padding: 40px;
  margin-bottom: 20px;
  height: 400px;
}
.projects{
  width: 100%;
}
.projects__list{
  position: relative;
  list-style: none;
//  border: 2px solid #1996f6;
  padding: 0;
  margin: 0 0 0 -26px;
//  box-sizing: border-box;
}
.projects__item{
  width: 200px;
  @include borderRadius(5px);
  overflow: hidden;
  float: left;
  margin: 0 0 20px 26px;
  vertical-align: top;
  text-align: center;
  position: relative;
  &:hover .projects__link-bg,&:hover .projects__link{
	opacity: 1;
  }
  &:hover .projects__img{
	@include resize(1.1);
  }
}
.projects__img-wrapper{
  width: 200px;
  height: 150px;
}
.projects__img{
  width: 100%;
  height: 100%;
  @include transition(0.3s);
}
.projects__link, .projects__link-bg{
  opacity: 0;
  position: absolute;
  @include transition(opacity 0.3s);
}
.projects__link-bg{
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(31, 79, 166,0.8);
  width: 200px;
  height: 150px;
}
.projects__link{
  top: 40%;
  left: 10%;
  width: 150px;
  z-index: 10;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #fff;
  @include borderRadius(5px);
  @include transition(0.3s);
}
.projects__img-add{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 75px;
}
.projects__link-adder{
  background: #37bf70;
  border: 1px dashed $navColor;
  display: block;
}
.projects__link-add{
  color: $links;
  position: absolute;
  text-decoration: none;
  top: 60%;
  left: 18%;
  &:hover{
	text-decoration: underline;
  }
}
.page-footer{
  width: 100%;
}
.footer-wrap{
  width: 960px;
}
.footer{
  margin: 0 auto;
}