@charset "UTF-8";
@import url(../img/sprites.css);
@import url(../fonts/ubuntu.css);
.clearfix:after, .clearfix:before {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

/* для IE6-7 */
.clearfix {
  zoom: 1; }

.hidden {
  display: none; }

.content {
  position: relative; }

.content-about {
  margin: 50px 50px 0; }

.foto-wrapper {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -55px;
  left: -55px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden; }

.foto {
  width: 100%; }

.inf-list {
  list-style: none;
  position: relative;
  padding: 0; }

.inf-item {
  margin-bottom: 20px; }

.inf-item__title {
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 120px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 10px;
  word-break: break-all; }

.resume-btn {
  background: #fffb9b;
  color: #1996f6;
  border: none;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px; }

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; }

.social-item {
  display: inline-block; }

.social-item__link {
  max-width: 50px;
  max-height: 50px;
  margin-left: 20px;
  text-indent: -9999px; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #0e9a4a;
  font-size: 16px;
  color: #fff;
  background: #0e9a4a;
  font-family: 'UbuntuRegular'; }

.wrapper {
  width: 960px;
  margin: 30px auto 0; }

.page-header {
  margin: 0 0 50px; }

.navigation {
  float: right; }

.navigation__list {
  list-style: none;
  padding: 0; }

.navigation__item {
  float: left;
  margin-left: 10px; }

.navigation__item-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px; }

.active, .navigation__item-link:hover {
  background: #fff;
  color: #0e9a4a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.page-container {
  background: #27ae60;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.content {
  padding: 30px;
  margin-bottom: 20px;
  height: 400px; }

.projects {
  width: 100%; }

.projects__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 0 -33px; }

.projects__item {
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin: 0 0 20px 33px;
  vertical-align: top;
  text-align: center;
  position: relative;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear; }
  .projects__item:hover .projects__link-bg, .projects__item:hover .projects__link {
    display: block; }
  .projects__item:hover .projects__img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); }

.projects__img-wrapper {
  width: 200px;
  height: 150px; }

.projects__img {
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear; }

.projects__link, .projects__link-bg {
  display: none;
  position: absolute; }

.projects__link-bg {
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(31, 79, 166, 0.8);
  width: 200px;
  height: 150px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear; }

.projects__link {
  top: 40%;
  left: 13%;
  width: 150px;
  z-index: 10;
  color: #fff;
  text-decoration: none;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear; }

.projects__img-add {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 75px; }

.projects__link-adder {
  background: #37bf70;
  border: 1px dashed #fff;
  display: block; }

.projects__link-add {
  color: #fff;
  position: absolute;
  text-decoration: none;
  top: 60%;
  left: 18%; }
  .projects__link-add:hover {
    text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
