.git, .tw, .vk{
	background: url(sprites.png) no-repeat;
}

.git{
	background-position: 0 -50px ;
	width: 45px;
	height: 45px;
}

.tw{
	background-position: -50px 0;
	width: 45px;
	height: 45px;
}

.vk{
	background-position: 0 0;
	width: 45px;
	height: 45px;
}

