.content{
  position: relative;
}
.content-about{
  margin: 0 0 0 100px;
}
.foto-wrapper{
  position: absolute;
  width: 150px;
  height: 150px;
  top: -45px;
  left: -45px;
  @include borderRadius(50%);
  border: 4px solid #fff;
  overflow: hidden;
}
.foto{
  width: 100%;
}
.inf{
  float: left;
}
.inf__title{
  color: $titleColor;
  font-size: 25px;
  margin: 0 0 40px 0;
  @include textShadow(1px 1px 2px #FF5900);
}
.inf-list{
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0 0 20px 0;
}
.inf-item{
  margin-bottom: 20px;
}
.inf-item__title{
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 140px;
  @include borderRadius(5px);
  border: 1px solid #fff;
  padding: 5px 10px;
  word-wrap: break-word;
}
.inf-item__title-value{
  float: left;
  height: 100%;
  max-width: 400px;
}
.btn{
  background-color: $btnBg;
  color: $btnColor;
  border: none;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-bottom: 4px solid $btnBorder;
  @include textShadow(1px 1px 2px #27ae60);
//  @include boxShadow(1px 1px 2px #27ae60);
  @include borderRadius(5px);
  @include transition(0.1s);
  &:hover{
    border-bottom: none;
    margin-top: 5px;
  }
}
.social-btn{
  display: inline-block;
  float: right;
}
.social-btn__link{
  width: 45px;
  height: 45px;
  margin-top: 20px;
//  padding: 2px;
  display: block;
  border: 2px solid #fff;
  @include borderRadius(50%);
  &:first-child{
	margin-top: 0;
  }
}
.git{
  background-color:#a5f271;
}
.tw{
	background-color:#55acee;
}
.vk{
	background-color:#4980b7;
}
.git:hover, .tw:hover, .vk:hover{
  background-color: transparent;
}