@charset "UTF-8";
.clearfix:after,.clearfix:before{
  content: ' ';
  display: table;
}
.clearfix:after{
  clear: both;
}

/* для IE6-7 */
.clearfix {
  zoom: 1;
}
.hidden{
  display: none;
}

$border: 1px solid red;
$bgColor: #fdf9ee/*89e5d3*/ /*fcf9f4*/;
$titleColor: #fcc174;
$links: #13a0d8;
$navColor: #c6d941;
$borderRad: 5px;