@charset "UTF-8";
.clearfix:after,.clearfix:before{
  content: ' ';
  display: table;
}
.clearfix:after{
  clear: both;
}

/* для IE6-7 */
.clearfix {
  zoom: 1;
}
.hidden{
  display: none;
}

$border: 1px solid red;
$colorFonts: #fff;
$bgColor: #0e9a4a/*89e5d3*/ /*fcf9f4*/;
$titleColor: #fcc174;
$links: #fff;
$navColor: #fff;
$btnColor: #fffb9b;

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition){
  transition: $transition linear;
  -webkit-transition: $transition linear;
  -moz-transition: $transition linear;
}
@mixin transform($transform){
  transform: scale($transform);
  -webkit-transform: scale($transform);
  -moz-transform: scale($transform);
}
@mixin list{
}