@charset "UTF-8";
.clearfix:after,.clearfix:before{
  content: ' ';
  display: table;
}
.clearfix:after{
  clear: both;
}

/* для IE6-7 */
.clearfix {
  zoom: 1;
}
.hidden{
  display: none;
}

$border: 1px solid red;
$colorFonts: #fff;
$bgColor: #0e9a4a;
$titleColor: #fff /*#fffb9b*/;
$links: #fff;
$navColor: #fff;
$btnBg: #9AE148;
$btnColor: #fff;
$btnBorder: #71C412;
//  color: #1996f6;

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition){
  transition: $transition linear;
  -webkit-transition: $transition linear;
  -moz-transition: $transition linear;
}
@mixin resize($transform){
  transform: scale($transform);
  -webkit-transform: scale($transform);
  -moz-transform: scale($transform);
}
@mixin rotate($rotate){
  transform: rotate($rotate);
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
}
@mixin textShadow($textShadow){
  -webkit-text-shadow: $textShadow;
  -moz-text-shadow: $textShadow;
  text-shadow: $textShadow;
}
@mixin boxShadow($boxShadow){
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}